.section h2{
    color: var(--primary-100);
}

.section {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.button {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    border: none;
    background: transparent;
}

.button:hover {
    cursor: pointer;
}

.button p {
    font-size: larger;
}