.login {
    /* background: var(--light-gray); */
    background-image: url("/images/background.jpg");
    min-height: calc(110dvh - 80px);
    color: var(--text-light);
}

.loginPage {
    max-width: 460px;
    width: 90vw;
    margin: 0 auto;
    padding-top: 1rem;
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.googleAuth {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.googleAuth button {
    background: var(--primary-light);
    width: 100%;
    border-radius: .3rem;
    border: 1px solid var(--gray);
    padding: .5rem;
    font-size: 1.2rem;
    color: var(--text-light);
    /* font-weight: bolder; */
}

.divider {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
}

.divider span:not(:nth-child(2)) {
    display: block;
    height: 1px;
    flex: 1 1;
    background: var(--text-light);
}

.details {
    width: 100%;
    display: flex;
    gap: .3rem;
    flex-direction: column;
    margin-bottom: 1vmin;
}

.details .label{
    color: white;
}

.details label {
    font-size: 1rem;
    /* color: var(--text-light); */
}

.details input {
    padding: .5rem;
    font-size: 1rem;
    border: none;
    border-radius: .3rem;
    background: rgba(255, 255, 255, 0.685);
    /* font-weight: bold; */
}

.button {
    width: 100%;
    background: var(--primary-100);
    color: var(--primary-light);
    cursor: pointer;
    margin-top: 1.5rem;
    padding: .5rem;
    font-size: 1.2rem;
    border: none;
    border-radius: .3rem;
}

.loginOption {
    display: flex;
    align-items: center;
    gap: .4rem;
}

.loginOption a {
    color: var(--primary-100);
    font-weight: 400;
    text-decoration: none;
    cursor: pointer;
    font-weight: 700;
}