@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');

:root {
  --primary-100: hsl(328, 83%, 42%);
  --primary-dark: hsl(328, 86%, 26%);
  --primary-light: hsl(251, 100%, 98%);
  --gray: hsl(0, 0%, 71%);
  --light-gray: hsl(240, 7%, 89%);
  --secondary-100: hsl(244, 58%, 19%);
  --text: var(--secondary-100);
  --text-light: hsl(233, 13%, 41%);
  --white: hsl(0, 0%, 100%);

  --content-space: clamp(0.5rem,1vw,1rem);
  --bg-gradient: linear-gradient(129deg,rgba(187,104,148,.103),rgba(195,18,112,.918));
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
}