.main{
    height: max-content;
    /* font-family: 'Manrope', sans-serif; */
}

.className{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: fit-content;
}