.header {
    height: 80px;
    background: linear-gradient(to left, #833AB4,  #C13584, #FD1D1D,#E1306C, #FD1D1D,  #405DE6, #5851D8);
    padding: 2vw;
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    align-items: center;
}

.logo:hover{
    cursor: pointer;
}

.button {
    padding: 15px 20px;
    background: var(--primary-100);
    color: var(--white);
    border: none;
    font-size: 1.1rem;
    border-radius: 10px;
}

.button:hover{
    cursor: pointer;
    background: var(--primary-dark);
}