.header {
    background: var(--white);
    height: 80px;
    padding: 2vw;
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    align-items: center;
}

.logo:hover{
    cursor: pointer;
}

.button {
    padding: 15px 20px;
    background: var(--primary-100);
    color: var(--white);
    border: none;
    font-size: 1.1rem;
    border-radius: 10px;
}

.button:hover{
    cursor: pointer;
    background: var(--primary-dark);
}